<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mapper.UserMapper">

	<select id="login" parameterType="hashmap" resultType="User"> select *
		from tb_user where login_id=#{login_id} and
		password=#{password}
	</select>

	<select id="idCheck" parameterType="string" resultType="User">
		select * from tb_user where login_id=#{login_id}
	</select>
	
	<select id="findUserName" parameterType="string" resultType="User">
		select name from tb_user where login_id=#{login_id}
	</select>

	<!-- Insert a new user -->
	<insert id="save" parameterType="User">
		INSERT INTO tb_user (login_id,
		password, name, birth_date, email, phone,address1,address2,
		role)
		VALUES
		(#{login_id},
		#{password}, #{name}, #{birth_date}, #{email},
		#{phone},#{address1},#{address2}, #{role})
	</insert>

	<!-- Select user by ID -->
	<select id="findById" parameterType="int" resultType="User">
		SELECT id,
		login_id, password, name, birth_date, email, phone, address1,address2, role
		FROM
		tb_user
		WHERE id = #{id}
	</select>

	<!-- Update user -->
	<update id="update" parameterType="User">
		UPDATE tb_user
		SET login_id =
		#{login_id},
		password = #{password},
		name = #{name},
		birth_date =
		#{birth_date},
		email = #{email},
		phone = #{phone},
		address1 = #{address1},
		address2 = #{address2},
		role = #{role}
		WHERE id
		= #{id}
	</update>

	<!-- Delete user by ID -->
	<delete id="delete" parameterType="int">
		DELETE FROM tb_user
		WHERE id =
		#{id}
	</delete>
</mapper>

